<p align="center" style="font-size: x-large" >Registration card</p>
<mat-card class="form-card">
  <mat-card-content class="content">
    <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
     <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="person.firstName"
               name="firstName"
               #firstName="ngModel"
               id="firstName"
               type="text"
               placeholder="first name"
               required minlength="2"
               pattern="[A-Za-z ]{1,32}">
       <mat-error *ngIf="firstName.invalid">
         Please enter a valid name.
       </mat-error>
     </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="person.lastName"
               name="lastName"
               #lastName="ngModel"
               id="lastName"
               type="text"
               placeholder="last name"
               required minlength="2"
               pattern="[A-Za-z ]{1,32}">
        <mat-error *ngIf="lastName.invalid">
          Please enter a valid last name.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="person.personId"
               name="personId"
               #personId="ngModel"
               id="personId"
               type="text"
               placeholder="social security number"
               required minlength="2"
               pattern="[A-Za-z ]{1,32}">
        <mat-error *ngIf="personId.invalid">
          Please enter a valid social security number.
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="person.userName"
             name="userName"
             placeholder="user name"
             #userName="ngModel"
             >

    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput name="newPassword" placeholder="new password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput name="confirmPassword" placeholder="confirm password">
    </mat-form-field>
    <mat-checkbox name="acceptTerms" color="primary">Accept terms and conditions</mat-checkbox>
    </form>
  </mat-card-content>

  <button mat-raised-button id="acceptButton" class="button">Submit</button>
</mat-card>
